---
  title: Event template page
  content_type: events
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    {% seo %}
  %body
    {% block main %}
    <h1>{{ event.title }} on {{ event.event_date | localized_date: '%m/%d/%Y' }}</h1>
    <p>{{ event.description }}</p>
    {% endblock %}