---
  title: Nice title!
  seo_title: Even nicer seo title
  meta_description: Awesome.
---
!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    {% seo %}
  %body
    %h1 {{ page.title }}
    {% block 'main' %}
    %p Lorem ipsum....
    {% endblock %}